@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
:root {
  --main-color: #fd4646;
  --text-color: #171427;
  --bg-color: #fff;
}
img {
  width: 100%;
}
body {
  color: var(--text-color);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: var(--bg-color); */
  box-shadow: 0px 1px 4px hsl(0 4% 15% / 10%);
  z-index: 100;
  background-color: var(--text-color);
  color: var(--text-color);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.container {
  max-width: 1050px;
  margin: auto;
  width: 100%;
}
.logo {
  font-size: 1.1rem;
  color: var(--bg-color);
  /* color: var(--text-color); */
  font-weight: 400;
}
#cart-icon {
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--bg-color);
  /* color:var(--text-color) ; */
}
section {
  padding: 4rem 0 3rem;
  max-width: 1050px;
  margin: auto;
}
.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}
.shop-container {
  margin-top: 2rem;
}
.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}
.product-box {
  position: relative;
}
.product-box:hover {
  padding: 10px;
  border: 1px solid var(--text-color);
  transition: 0.3s ease-in-out;
  /* font-size: 0.75rem; */
  flex-flow: 900;
}
.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}
.product-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.price {
  font-weight: 500;
}
.cart-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--bg-color);
  background: var(--text-color);
  padding: 10px;
  cursor: pointer;
}
.cart-icon:hover {
  background: hsl(249 32% 17%);
}
.cartt {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100px;
  padding: 20px;
  background: var(--bg-color);
  box-sizing: -2px 0 4px hsl(0 4% 15%/10%);
  transition: 0.3s ease-in-out;
  max-height: 600px;
  overflow-y: scroll;
  border: 2px solid green;
}
.active {
  right: 0;
}
.cart-title {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.carft-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
